*
  font-family 'Test'

.test
  background #00f

.test3
  border 1px solid black

@media screen and (min-width: 480px)
  .test
    font-size 20px
  .test4
    border 1px solid white

@font-face
  font-family 'Test'
  src url('test.eot')